/*  your css code here. If applicable */
.container{
	background:lightgrey;
	display:flex;
	justify-content:center;
	align-items:center;
	border:solid black;
	height:200px;
	width:600px;
	border-radius:50px;
	padding:2px;
	border-weight:5px;
}
.green{
	background:green;
	height:100px;
	width:100px;
	margin:5px;
	border-radius:55px;
}
.yellow{
	background:yellow;
	height:100px;
	width:100px;
	margin:5px;
	border-radius:55px;
}
.red{
	background:red;
	height:100px;
	width:100px;
	margin:5px;
	border-radius:55px;
}